table {
  border-collapse: collapse;
  border: 2px solid rgb(128, 103, 103);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

th, td {
  border: 1px solid rgb(150 150 150);
  padding: 8px 12px;
  text-align: center;
}

.table-header ,.table-footer {
  background-color: rgb(61, 58, 58) ;

}
.table-header th,.table-footer tr {
  color: #fff;
  font-weight: 700;
}